# Ignore the Example directory
Example/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore specific file in a folder
Assignment 03 - Responsive design/.vscode
Assignment 06 - Restuarant POS upgrade with doms/trash
